./__pycache__/*
./commonsense_data/*
./comm_eval/*
./data/*
./data_cache/*
./diaglogue-eval/*
./FastChat/*
./human-eval/
./humaneval_samples/*
./img/*
./json_results_alpaca/*
./logs/*
./logs_persona/*
./LongLaMP-Benchmark/*
./multirun/*
./notebooks/*
./results/*
./safe_results/*
./wandb/*
./*.log
./*.ipynb
./*.slurm
./*.out
./*.json
./metrics.txt
./eval_persona_vll.py