./__pycache__/*
./data_cache/*
./logs/*
./logs_persona/*
./multirun/*
./results/*
./safe_results/*
./wandb/*
./*.log
./*.ipynb
./*.slurm
./notebooks/*
./wandb/*
./*.out
./data/*
./humaneval_samples/*
./human-eval/
./evaluation_results/*
./commonsense_data/*
./*.json
./FastChat_old/*
./json_results_alpaca/*
./metrics.txt